
.parallax-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: #2c3e50;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-layer-1::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #e74c3c;
  top: 20%;
  left: 10%;
  animation: spin 10s linear infinite;
}

.parallax-layer-1::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ecf0f1;
  top: 50%;
  left: 50%;
  animation: spin 12s linear infinite;
}

.parallax-layer-2::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: #f1c40f;
  border-radius: 50%;
  top: 70%;
  left: 30%;
  animation: spin 15s linear infinite reverse;
}

.parallax-layer-2::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #9b59b6;
  top: 10%;
  left: 70%;
  animation: spin 18s linear infinite reverse;
}

.parallax-layer-3::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #3498db;
  top: 40%;
  left: 80%;
  animation: spin 20s linear infinite;
}

.parallax-layer-3::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: #1abc9c;
  border-radius: 50%;
  top: 80%;
  left: 10%;
  animation: spin 22s linear infinite;
}

.parallax-layer-4::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: #e67e22;
  top: 5%;
  left: 40%;
  animation: spin 25s linear infinite;
}

.parallax-layer-4::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background: #2ecc71;
  border-radius: 50%;
  top: 90%;
  left: 90%;
  animation: spin 28s linear infinite reverse;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
