@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  width: 100vw;
  height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--background);
  overflow-x: hidden;
}

a,
button {
  cursor: pointer !important;
}

body[data-theme="light"] {
  --background: #ffffff;
  --text: #000000;
  --card-bg: #f3f4f6;
  --card-text: #1f2937;
  --link: #3b82f6;
  --link-hover: #1d4ed8;
  /* cursor: url('./assets/cursor-black-2.svg') 16 16, auto; */
}

body[data-theme="dark"] {
  --background: #080808;
  --text: #ffffff;
  --card-bg: #1f2937;
  --card-text: #d1d5db;
  --link: #60a5fa;
  --link-hover: #93c5fd;
  /* cursor: url('./assets/cursor-white-2.svg') 16 16, auto; */
}

.bg-theme {
  background-color: transparent;
  /* background-color: var(--background); */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text-theme {
  color: var(--text);
}

.card-bg-theme {
  background-color: var(--card-bg);
}

.card-text-theme {
  color: var(--card-text);
}

.link-theme {
  color: var(--link);
}

.link-theme:hover {
  color: var(--link-hover);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
